@import "tailwindcss";

:root {
	--background: #171717;
	--foreground: #fff;
	--parallax-colors: linear-gradient(
		to bottom,
		#051227,
		#071936,
		#1e3a8a,
		#87ceeb
	);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter);
	font-weight: 500;
}

.parallax-colors {
	background: linear-gradient(to bottom, #0b182e, #0a1f44, #1e3a8a, #87ceeb);
}
